:root {
    --white-: #fff;
    --grey-: #9b9a9a;
    
    --golden-: #E4CA7F;
    --golden-100-: #CC9544;
    
    --black-: #000;
    --black-100-: #191818;
    --black-900-: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

@media(max-width: 1080px) {
    html {
      font-size: 93.75%; /* 15px */
    }
}
  
@media(max-width: 720px) {
    html {
      font-size: 87.5%; /* 14px */
    }
}

@font-face {
    font-family: 'Nexa';
    src: url('./font/Nexa Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('./font/Nexa Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Museo';
    src: url('./font/Museo.otf') format('opentype');
    font-weight: normal;
}

body {
    font: 400 0.75rem 'Nexa';
    background: var(--black-);

    overflow-x: hidden;
}

input, button, select {
    font: 400 0.75rem 'Nexa';
    border: none;
    background: none;
    cursor: pointer;
}
