@charset "UTF-8";
/* ============= PARTE SEM SASS ============= */
header {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.header.sticky .access-header {
  display: none;
}

.header.sticky {
  position: fixed;
  top: 0;
}

.header.sticky + main {
  padding-top: 170px;
}

.access-header {
  padding: 0 10px;
  background: var(--white-);
}

.access-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  max-width: 1641px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.access-header div img:first-child {
  display: none;
  width: 36px;
  height: 36px;
}

@media (max-width: 1366px) {
  .access-buttons-as-link button {
    margin: 0 10px;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.access-buttons-as-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.access-buttons-as-link button {
  font-family: 'Nexa';
  font-size: 1rem;
}

.access-individuals-buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.access-individuals-buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin: 0 10px;
}

.access-individuals-buttons button img {
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

.navigation-header {
  padding: 0 10px;
  background: var(--black-);
  font-family: "Nexa Bold", sans-serif;
}

.navigation-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  max-width: 1641px;
  margin: 0   auto;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px;
}

.navigation-links a {
  color: var(--white-);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
}

.navigation-header button {
  font-size: 1rem;
  font-family: "Nexa Bold", sans-serif;
  width: 250px;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
  padding: 5px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ca7f), to(#cc9544));
  background: linear-gradient(#e4ca7f, #cc9544);
  color: var(--black-);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.navigation-header button:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

@media (max-width: 1430px) {
  .access-buttons-as-link button,
  .navigation-links a {
    font-size: 14px;
  }
  .access-header div,
  .navigation-header div {
    max-width: 1280px;
  }
  .logo {
    height: 50px;
  }
}

@media (max-width: 1200px) {
  header {
    position: fixed;
  }
  .header.sticky .access-header {
    display: block;
  }
  .navigation-header {
    display: none;
  }
  .access-header div {
    padding: 0 30px;
    height: 73px;
  }
  .access-header div img:first-child {
    display: block;
  }
  .header.sticky + main {
    padding-top: 0px;
  }
  .access-header div div {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: auto;
  }
}

/* ======= MAIN E SECTIONS ======= */
main .discover {
  background: url(../img/bg-discover.png) no-repeat center;
  background-position-y: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 120px;
}

.discover p {
  color: var(--white-);
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
  max-width: 670px;
}

.discover p span {
  font-family: "Museo";
}

.discover button {
  font-size: 1.875rem;
  font-family: "Nexa Bold";
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  padding: 15px 100px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid var(--golden-);
}

.discover button:hover {
  color: var(--white-);
  background: linear-gradient(150deg, rgba(228, 202, 127, 0.5), rgba(203, 149, 67, 0.5));
}

@media (max-width: 1430px) {
  .discover p {
    font-size: 2.5rem;
    max-width: 500px;
  }
  .discover button {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  main .discover {
    padding: 200px 30px;
  }
}

@media (max-width: 890px) {
  main .discover {
    padding: 200px 30px 100px;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(30%, black));
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
  }
  .discover p {
    max-width: none;
    font-size: 1.75rem;
  }
  .discover p span {
    display: block;
  }
  .discover button {
    width: 100%;
    height: 45px;
    line-height: 0;
  }
}

/* BENEFÍCIOS DO CAFFEINE PRIME */
main .benefits {
  padding: 90px 100px 0 100px;
}

.benefits h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--golden-);
}

.benefits-content {
  position: relative;
  max-width: 979px;
  margin: 120px auto;
  background: var(--black-100-);
}

.benefits-content::after {
  content: '';
  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 728px;
  height: 1229px;
  position: absolute;
  top: -100px;
  right: -300px;
  z-index: -1000;
}

.benefits-content::before {
  content: '';
  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 728px;
  height: 1229px;
  position: absolute;
  bottom: -100px;
  left: -300px;
  z-index: -1000;
}

@media (max-width: 1580px) {
  .benefits-content::after,
  .benefits-content::before {
    display: none;
  }
}

.benefits-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-content div img {
  height: 400px;
  width: auto;
}

.benefits-content div:nth-child(1) img {
  margin-top: -30px;
  margin-left: -30px;
}

.benefits-content div:nth-child(2) img {
  margin-right: -30px;
}

.benefits-content div:nth-child(3) img {
  margin-bottom: -30px;
  margin-left: -30px;
}

.benefits-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px;
}

.benefits-group h3 {
  font-size: 2rem;
  font-family: "Nexa Bold";
  margin-bottom: 5px;
  color: var(--golden-);
}

.benefits-group p {
  font-size: 1.5rem;
  color: var(--white-);
}

.benefits-content div:nth-child(2) .benefits-group h3,
.benefits-content div:nth-child(2) .benefits-group p {
  text-align: right;
}

.benefits-content div:nth-child(2) .benefits-group {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.benefits-group hr {
  border-color: var(--golden-);
  margin: 20px 0;
}

@media (max-width: 1430px) {
  .benefits h2 {
    font-size: 2.5rem;
  }
  .benefits-group h3 {
    font-size: 1.5rem;
  }
  .benefits-group p {
    font-size: 1.25rem;
  }
  .benefits-content div img {
    height: 350px;
  }
}

@media (max-width: 1280px) {
  .benefits h2 {
    font-size: 2.5rem;
  }
  .benefits-group h3 {
    font-size: 1.75rem;
  }
  .benefits-group p {
    font-size: 1.25rem;
  }
  .benefits-content div img {
    height: 300px;
  }
}

@media (max-width: 890px) {
  main .benefits {
    padding: 30px 30px 100px;
  }
  .benefits-content {
    background: none;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .benefits h2 {
    font-size: 2.25rem;
  }
  .benefits-content div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .benefits-content div h3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .benefits-content div:nth-child(2) div hr {
    display: none;
  }
  .benefits-content div:nth-child(2) .benefits-group h3,
  .benefits-content div:nth-child(2) .benefits-group p {
    text-align: left;
  }
  .benefits-content div:nth-child(2) img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .benefits-content div img {
    margin: 0 !important;
    max-width: 300px;
    height: auto;
  }
  .benefits-group {
    padding: 0;
  }
}

/* COMO FUNCIONA O CAFFEINE PRIME */
.operation h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--golden-);
}

.explanations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white-);
  padding: 80px 20px;
  max-width: 1641px;
  margin: 0 auto;
}

.explanation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explanation-group > h3 {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Nexa Bold";
  font-size: 6.8rem;
  color: var(--golden-);
  margin-right: 20px;
}

.explanation-group:nth-child(n + 2) > h3 {
  margin-left: 20px;
}

.explanation-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1641px;
  height: 27.85rem;
}

.explanation-group div .bg {
  display: block;
  background: url(../img/circle.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -20px;
  width: 390px;
}

.explanation-group div img {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.explanation-group div h3 {
  font-size: 1.5rem;
  color: var(--golden-);
  display: block;
}

.explanation-group div p {
  font-size: 1.25rem;
  max-width: 300px;
}

@media (max-width: 1430px) {
  .operation h2 {
    font-size: 2.5rem;
  }
  .explanation-group > h3 {
    font-size: 5rem;
  }
  .explanation-group div img {
    height: 45px;
    width: 45px;
  }
  .explanation-group div h3 {
    font-size: 1.35rem;
  }
  .explanation-group div p {
    font-size: 1rem;
    width: 80%;
  }
  .explanation-group div .bg {
    width: 300px;
  }
}

@media (max-width: 1366px) {
  .operation h2 {
    font-size: 2.5rem;
  }
  .explanations {
    padding: 80px 40px;
  }
  .explanation-group > h3 {
    font-size: 4.5rem;
  }
  .explanation-group div .bg {
    width: 325px;
  }
  .explanation-group div h3 {
    font-size: 1.25rem;
  }
  .explanation-group div p {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .explanations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explanation-group {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .explanation-group + .explanation-group {
    margin-top: 20px;
  }
  .explanation-group div .bg {
    display: block;
    width: 340px;
    background-size: contain;
  }
}

@media (max-width: 890px) {
  .operation h2 {
    font-size: 2.25rem;
  }
  .explanation-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .explanation-group div {
    width: 65%;
  }
  .explanation-group div .bg {
    width: 280px;
    left: -50px;
  }
  .explanation-group h3 {
    width: 70px;
  }
  .explanation-group div img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  .explanation-group:nth-child(n + 2) > h3 {
    margin-left: 0;
  }
  .explanations {
    padding: 30px 30px;
  }
}

/* ESCOLHA SEU PLANO */
.plans.one.closed {
  display: none;
}

.plans {
  background: url(../img/bg-plans.png) no-repeat center;
  color: var(--white-);
}

.plans > p {
  text-align: center;
  padding: 60px 0;
}

.plans h2 {
  text-align: center;
  padding: 60px 0 38px 0;
  font-size: 2.5rem;
  color: var(--white-);
}

.plans-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .plans-options {
    display: -webkit-box;
    overflow-x: scroll;
  }
  .plans-options::-webkit-scrollbar {
    width: 0px;
  }
}

/* MONTHLY, QUARTERLY, SEMESTER */
.plans-options > div {
  max-width: 370px;
  background: var(--black-);
  border-radius: 4px;
  margin: 0 20px;
}

.plans-options > div > p {
  height: 54px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-family: "Nexa Bold";
  font-size: 1.25rem;
}

.plans-options button {
  font-size: 1.25rem;
  font-family: "Nexa Bold";
  color: var(--golden-);
  padding: 7px 0;
  margin: 170px 0 0;
  border: 2px solid var(--golden-);
  border-radius: 4px;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.plans-options button:hover {
  color: var(--black-);
  background: var(--golden-);
}

.plans-amount {
  max-height: 500px;
  padding: 20px 40px;
}

.plans-amount h3 {
  font-size: 1.875rem;
}

.plans-amount p {
  font-size: 1rem;
  color: var(--grey-);
  line-height: 1.4;
}

.plans-amount p:nth-last-child(2n) {
  height: 50px;
}

.plans-amount p span {
  text-decoration: line-through;
}

.plans-amount > span {
  display: block;
  font-size: 3rem;
  font-family: "Nexa Bold";
  color: var(--white-);
}

.plans-amount > span::after {
  content: "/mês";
  font-size: 1rem;
  font-family: "Nexa";
}

.plans-amount > hr {
  margin: 14px 0;
}

.monthly {
  border: 2px solid var(--white-);
}

.quarterly {
  border: 2px solid #89794c;
}

.semester {
  border: 2px solid #ebb563;
}

.monthly > p {
  background: var(--white-);
  color: var(--black-);
}

.quarterly > p {
  background: #89794c;
  color: var(--white-);
}

.semester > p {
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  color: var(--black-);
}

@media (max-width: 1430px) {
  .plans h2 {
    font-size: 2.25rem;
  }
  .plans-options > div > p,
  .plans-options button {
    font-size: 1rem;
  }
  .plans-amount h3 {
    font-size: 1.5rem;
  }
  .plans-amount > span {
    font-size: 2.5rem;
  }
}

@media (max-width: 890px) {
  .plans-options > div > p {
    height: auto;
  }
  .plans h2 {
    font-size: 1.5rem;
  }
}

/*  ============ COM SASS ============ */
/* PLANS OPTIONS 2 - APÓS CLICAR ASSINAR AGORA */
.plans.two.closed {
  display: none;
}

.plans.two {
  height: 877px;
}

.plans.two .plans-two-options {
  margin: 70px auto 100px;
  max-width: 756px;
}

.plans.two .plans-two-list-wrapper .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--white-);
  padding: 20px 50px;
  border-radius: 4px;
}

.plans.two .plans-two-list-wrapper .list-item + .list-item {
  margin-top: 35px;
}

.plans.two .plans-two-list-wrapper .list-item div:first-child {
  color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plans.two .plans-two-list-wrapper .list-item div:first-child div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6px;
}

.plans.two .plans-two-list-wrapper .list-item div:first-child h3 {
  font-size: 1.25rem;
  font-family: 'Nexa Bold';
}

.plans.two .plans-two-list-wrapper .list-item div:first-child p {
  font-size: 1.25rem;
}

.plans.two .plans-two-list-wrapper .list-item div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plans.two .plans-two-list-wrapper .list-item div:last-child button {
  width: 40px;
  height: 40px;
  background: #F2F2F2;
  font-size: 40px;
  line-height: 1.1;
  color: var(--grey-);
}

.plans.two .plans-two-list-wrapper .list-item div:last-child .counter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #414141;
  font-size: 1.625rem;
  padding: 0 10px;
}

.plans.two .plans-two-resume {
  margin-top: 35px;
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid var(--white-);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans.two .plans-two-resume > p {
  text-align: right;
  font-size: 1.25rem;
  text-decoration: line-through;
}

.plans.two .plans-two-resume > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans.two .plans-two-resume > div h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.plans.two .plans-two-resume button {
  margin-top: 60px;
  height: 70px;
  padding: 0 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Nexa Bold';
  font-size: 1.5rem;
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  border-radius: 4px;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
}

.plans.two .plans-two-resume button:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

@media (max-width: 1200px) {
  .plans.two .plans-two-options {
    padding: 0 30px;
  }
}

@media (max-width: 890px) {
  .plans.two .plans-two-list-wrapper .list-item {
    padding: 20px 20px;
  }
  .plans.two .plans-two-list-wrapper .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plans.two .plans-two-list-wrapper .list-item div:last-child {
    margin-top: 20px;
  }
  .plans.two .plans-two-resume button {
    font-size: 1rem;
    height: 40px;
    width: 100%;
  }
  .plans.two .plans-two-list-wrapper .list-item div:last-child button {
    width: 30px;
    height: 30px;
    font-size: 40px;
    line-height: 0.9;
  }
}

/* DESCUBRA SEU PLANO */
.discover-your-plain > h2 {
  text-align: center;
  padding: 60px 0 38px 0;
  font-size: 3rem;
  color: var(--golden-);
}

.discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--black-100-);
  padding: 70px;
  max-width: 1641px;
  height: 761px;
  margin: 0 auto;
}

.discover-container > button {
  height: 70px;
  padding: 0 30px;
  margin-top: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Nexa Bold';
  font-size: 1.5rem;
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  border-radius: 4px;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
}

.discover-container > button:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.discover-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 494px;
}

.discover-options {
  width: 100%;
}

.discover-options.first {
  padding-right: 100px;
  border-right: 1px solid var(--golden-100-);
}

.discover-options.second {
  padding-left: 100px;
}

.discover-options > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  color: var(--white-);
  max-width: 500px;
}

.discover-options > h3 span {
  line-height: 1.75;
  margin-right: 20px;
  font-size: 1.5rem;
}

.discover-options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover-options ul {
  margin-top: 70px;
}

.discover-options ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
}

.discover-options ul li input[type='radio'] {
  margin-top: 20px;
}

.discover-options ul li input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--white-);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 4px solid var(--white-);
}

.discover-options ul li input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 4px solid white;
}

.discover-options ul li + li div {
  width: 100%;
  border-top: 1px solid var(--golden-100-);
  padding-top: 40px;
}

.discover-options ul li:last-child div {
  border-top: 1px solid #976925;
}

.discover-options ul li div {
  margin-left: 25px;
  color: var(--white-);
}

.discover-options ul li div h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: 'Nexa Bold';
}

.discover-options ul li div p {
  font-size: 1.25rem;
}

@media (max-width: 1366px) {
  .discover-your-plain > h2 {
    font-size: 2.5rem;
  }
  .discover-options > h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1604px) {
  .discover-container > button {
    padding: 20px 30px;
    margin-top: 90px;
  }
}

@media (max-width: 1200px) {
  .discover-container {
    height: auto;
  }
  .discover-container > button {
    padding: 0 20px;
    font-size: 1.25rem;
    margin-top: 10px;
  }
  .discover-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .discover-options.first {
    padding-right: 0;
    border: none;
  }
  .discover-options.second {
    padding-left: 0;
    margin-top: 50px;
  }
  .discover-options ul {
    margin-top: 30px;
  }
  .discover-coffe-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover-coffe-options > div {
    width: 100%;
    max-height: 310px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .discover-coffe-options div:last-child {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 890px) {
  .discover-container {
    padding: 70px 30px;
  }
  .discover-container > button {
    height: 40px;
    width: 100%;
  }
  .discover-your-plain > h2 {
    font-size: 1.875rem;
    margin-inline: 40px;
  }
}

.discover-coffe-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.discover-coffe-options > div {
  height: 370px;
  max-width: 310px;
  text-align: center;
  padding: 50px 8px;
  background: var(--black-);
}

.discover-coffe-options > div + div {
  margin-left: 27px;
}

.discover-coffe-options > div h3, .discover-coffe-options > div p, .discover-coffe-options > div div {
  color: var(--white-);
}

.discover-coffe-options > div h3 {
  font-family: 'Museo';
  margin-top: 10px;
}

.discover-coffe-options > div > p {
  font-size: 1rem;
  line-height: 1.5;
}

.discover-coffe-options > div div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nexa Bold";
  font-size: 1rem;
  margin-top: 40px;
}

.discover-coffe-options > div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  font-size: 1rem;
}

.discover-coffe-options > div div #counter {
  margin: 0;
  padding: 0 10px;
}

.discover-coffe-options > div button {
  width: 30px;
  height: 30px;
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  border-radius: 2px;
  font-size: 2rem;
  line-height: 1.1;
}

.faq {
  padding: 0 140px;
}

.faq > h2 {
  text-align: center;
  padding: 60px 0 38px 0;
  font-size: 3rem;
  color: var(--golden-);
}

.faq .accordion {
  width: 100%;
  max-width: 1085px;
  height: 72px;
  margin: 0 auto;
  background: var(--white-);
  color: var(--black-);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nexa Bold';
  font-size: 1.5rem;
  padding: 0 40px;
  -webkit-transition: max-width 0.4s ease-out;
  transition: max-width 0.4s ease-out;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  text-align: left;
  cursor: pointer;
}

.faq .accordion i {
  margin-left: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq .accordion.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion:hover {
  background: var(--black-100-);
  color: var(--golden-);
}

.faq .panel {
  width: 100%;
  max-width: 1085px;
  margin: 3px auto 20px;
  max-height: 0;
  border-radius: 4px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--white-);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.faq .panel.active {
  max-height: 300px;
  padding: 20px 0;
  border: 2px solid var(--white-);
}

.faq .panel p {
  margin: 0 40px;
}

@media (max-width: 890px) {
  .faq {
    padding: 0 30px;
  }
  .faq h2 {
    font-size: 1.875rem;
  }
  .faq .accordion {
    font-size: 1.25rem;
    padding: 0 20px;
    height: 90px;
  }
  .faq .panel p {
    margin: 0 20px;
  }
  .faq .panel.active {
    padding: 10px 0;
  }
}

.footer {
  width: 100%;
  background: var(--black-900-);
  margin-top: 100px;
}

.footer .footer-container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 100px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-container .footer-content {
  color: var(--white-);
  max-width: 230px;
  height: auto;
}

.footer .footer-container .footer-content:nth-child(n + 4) {
  width: 100%;
}

.footer .footer-container .footer-content:nth-child(5) {
  max-width: 400px;
}

.footer .footer-container .footer-content:nth-child(5) form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer .footer-container .footer-content:nth-child(5) form input {
  width: 100%;
  height: 45px;
  background: var(--white-);
  color: var(--black-);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0 25px;
  font-size: 1rem;
  outline: none;
  cursor: initial;
}

.footer .footer-container .footer-content:nth-child(5) form button {
  color: var(--black-);
  max-width: 112px;
  height: 45px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(150deg, var(--golden-), var(--golden-100-));
  font-family: 'Nexa Bold';
  padding: 0 25px;
}

.footer .footer-container .footer-content h2 {
  font-family: 'Nexa Bold';
  font-size: 1.1rem;
  line-height: 2;
}

.footer .footer-container .footer-content > p {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  font-size: 1.05rem;
  line-height: 1.7;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
}

.footer .footer-container .footer-content > p:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.footer .footer-container .footer-content:last-child > p {
  line-height: 1.2;
}

.footer .footer-container .footer-content:last-child > p:hover {
  cursor: initial;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.footer .footer-footer {
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid var(--white-);
}

.footer .footer-footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  margin: 0 auto;
  max-width: 1120px;
}

.footer .footer-footer a, .footer .footer-footer p {
  color: var(--white-);
  text-decoration: none;
  font-size: 1.1rem;
}

.footer .footer-footer a {
  font-family: 'Nexa Bold';
}

.bottom {
  margin-top: 50px;
}

.bottom p {
  line-height: 2;
  font-size: 1rem;
  color: var(--white-);
  -webkit-filter: brightness(1);
          filter: brightness(1);
  margin-top: 5px;
}

.bottom p:last-child {
  font-family: 'Nexa Bold';
}

.bottom div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 175px;
  margin-top: 25px;
}

.bottom div:nth-child(1) img {
  height: auto;
  max-width: 25px;
  cursor: pointer;
}

.bottom div:nth-child(1) img + img {
  margin-left: 10px;
}

.bottom .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: auto;
  margin-top: 25px;
}

.bottom .cards img {
  width: 70px;
  height: 30px;
  background: var(--white-);
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px 15px;
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .footer .footer-container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .footer .footer-container .footer-content:nth-child(5) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer .footer-container .footer-content:nth-child(5) p {
    display: block;
  }
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    padding: 20px 30px;
  }
  .footer .footer-container .footer-content:last-child {
    border-top: none;
    margin-bottom: 20px;
  }
  .footer .footer-container .footer-content {
    border-top: 2px solid var(--grey-);
  }
  .footer .footer-container .footer-content p {
    display: none;
  }
  .footer .footer-container .footer-content .bottom {
    display: none;
  }
  .footer .footer-footer {
    padding: 0;
  }
  .footer .footer-footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
    max-width: 500px;
  }
  .footer .footer-footer > div a {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer .footer-footer > div a + a {
    margin-top: 20px;
  }
  .footer .footer-footer > div p {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 20px;
  }
}

@media (max-width: 890px) {
  .footer .footer-container .footer-content {
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */