/* ============= PARTE SEM SASS ============= */

header {
  width: 100%;
  display: inline-block;

  font-size: 1.375rem;
}

header .access-header {
  display: flex;
  align-items: center;

  height: 90px;
  padding: 0 120px;

  background: var(--white-);
}

@media(max-width: 1366px) {
  .access-buttons-as-link button {
    margin: 0 10px;
  }
}

.logo {
  margin-right: 120px;
}

.access-buttons-as-link {
  width: 100%;

  display: flex;
  justify-content: space-between;
}


.access-buttons-as-link button {
  font-family: 'Nexa';
  font-size: 1rem;
}

.access-individuals-buttons {
  width: 60%;

  display: flex;
  justify-content: flex-end;
}

.access-individuals-buttons button {
  display: flex;
  align-items: center;

  font-size: 1rem;
  margin: 0 10px;
}
.access-individuals-buttons button img {
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

header .navigation-header {
  display: flex;
  align-items: center;

  height: 80px;
  padding: 0 120px;

  background: var(--black-);
  font-family: "Nexa Bold", sans-serif;
}

.navigation-links {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-between;

  margin-right: 60px;
}

.navigation-links a {
  color: var(--white-);
  text-decoration: none;

  font-size: 1rem;
  font-weight: 800;
}

.navigation-header button {
  font-size: 1rem;
  font-family: "Nexa Bold", sans-serif;

  width: 250px;
  transform: skewX(-5deg);

  padding: 5px;
  border-radius: 2px;

  background: linear-gradient(#e4ca7f, #cc9544);
  color: var(--black-);
  transition: filter 0.2s;
}

.navigation-header button:hover {
  filter: brightness(0.7);
}

/* ======= MAIN E SECTIONS ======= */

main .discover {
  background: url(../img/bg-discover.png) no-repeat center;
  background-position-y: -5px;

  align-items: center;
  padding: 200px 120px;
}

.discover p {
  color: var(--white-);
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 3rem;

  margin-bottom: 20px;
  width: 670px;
}

.discover p span {
  font-family: "Museo";
}

.discover button {
  font-size: 1.875rem;
  font-family: "Nexa Bold";

  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  padding: 15px 100px;
  border-radius: 4px;
}
/* BENEFÍCIOS DO CAFFEINE PRIME */

main .benefits {
  padding: 90px 100px 0 100px;
}

.benefits h2 {
  text-align: center;

  font-size: 3rem;
  color: var(--golden-);
}

.benefits-content {
  position: relative;

  max-width: 979px;
  margin: 120px auto;

  background: var(--black-100-);
}

.benefits-content::after {
  content: '';

  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;

  width: 728px;
  height: 1229px;

  position: absolute;

  top: -100px;
  right: -300px;
  z-index: -1000;
}

.benefits-content::before {
  content: '';

  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;

  width: 728px;
  height: 1229px;

  position: absolute;

  bottom: -100px;
  left: -300px;
  z-index: -1000;
}

@media(max-width: 1580px) {
  .benefits-content::after,
  .benefits-content::before {
    display: none;
  }
} 

.benefits-content div {
  display: flex;
}

.benefits-content div img {
  height: 400px;
  width: auto;
}

.benefits-content div:nth-child(1) img {
  margin-top: -30px;
  margin-left: -30px;
}

.benefits-content div:nth-child(2) img {
  margin-right: -30px;
}

.benefits-content div:nth-child(3) img {
  margin-bottom: -30px;
  margin-left: -30px;
}

.benefits-group {
  display: flex;
  flex-direction: column;

  padding: 27px;
}

.benefits-group h3 {
  font-size: 2rem;
  font-family: "Nexa Bold";

  margin-bottom: 5px;
  color: var(--golden-);
}

.benefits-group p {
  font-size: 1.5rem;
  color: var(--white-);
}


.benefits-content div:nth-child(2) .benefits-group h3,
.benefits-content div:nth-child(2) .benefits-group p {
  text-align: right;
}

.benefits-content div:nth-child(2) .benefits-group{
  align-self: center;
}

@media(max-width: 1280px){
  .benefits h2 {
    font-size: 2.5rem;
  }
  .benefits-group h3 {
    font-size: 1.75rem;
  }
  .benefits-group p {
    font-size: 1.25rem;
  }
  .benefits-content div img {
    height: 300px;
  }
}

.benefits-group hr {
  border-color: var(--golden-);
  margin: 20px 0;
}

/* COMO FUNCIONA O CAFFEINE PRIME */

.operation h2 {
  text-align: center;

  font-size: 3rem;
  color: var(--golden-);
}

.explanations {
  display: flex;
  justify-content: space-between;

  color: var(--white-);

  padding: 80px 120px;
}

.explanation-group {
  display: flex;
}

.explanation-group > h3 {
  text-align: center;
  align-self: center;

  font-family: "Nexa Bold";
  font-size: 6.8rem;
  color: var(--golden-);

  margin-right: 20px;
}

.explanation-group:nth-child(n + 2) > h3 {
  margin-left: 20px;
}

.explanation-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 24.375rem;
  height: 27.85rem;

  background-size: 100% contain;
  
  @media(min-width: 1920px) {
    width: 24.375rem;
    background: url(../img/circle.svg) no-repeat center;
  }
}
.explanation-group div img {
  height: 50px;
  width: 50px;

  margin-bottom: 20px;
}

.explanation-group div h3 {
  font-size: 1.5rem;
  color: var(--golden-);

  display: block;
}

.explanation-group div p {
  font-size: 1.25rem;
  max-width: 300px;
}

@media(max-width: 1366px) {
  .operation h2 {
    font-size: 2.5rem;
  }

  .explanations {
    padding: 80px 40px;
  }

  .explanation-group > h3 {
    font-size: 4.5rem;
  }

  .explanation-group div img {
    height: 35px;
    width: 35px;

    margin-bottom: 15px;
  }

  .explanation-group div h3 { 
    font-size: 1.25rem;
  }

  .explanation-group div p { 
    font-size: 1rem;
  }

  .explanation-group div {
    background: none;
    height: fit-content;
  }

}

/* ESCOLHA SEU PLANO */

.plans {
  background: url(../img/bg-plans.png) no-repeat;

  color: var(--white-);
}

.plans > p {
  text-align: center;
  padding: 60px 0;
}

.plans h2 {
  text-align: center;
  padding: 60px 0 38px 0;

  font-size: 2.5rem;
  color: var(--white-);
}

@media (max-width: 768px) {
  .plans-options {
    flex-direction: column;
  }
}

.plans-options {
  display: flex;
  justify-content: space-evenly;

}

/* MONTHLY, QUARTERLY, SEMESTER */

.plans-options > div {
  max-width: 370px;
  height: 563px;

  background: var(--black-);
  border-radius: 4px;

  margin: 0 20px;
}

.plans-options > div > p {
  height: 54px;
  width: 100%;

  padding: 15px 0;
  text-align: center;

  font-family: "Nexa Bold";
  font-size: 1.25rem;
}

.plans-options button {
  font-size: 1.25rem;
  font-family: "Nexa Bold";
  color: var(--golden-);

  padding: 7px 0;

  border: 2px solid var(--golden-);
  border-radius: 4px;
  width: 100%;
}

.plans-amount {
  padding: 20px 40px;
}

.plans-amount h3 {
  font-size: 1.875rem;
}

.plans-amount p {
  font-size: 1rem;
  color: var(--grey-);

  line-height: 1.4;
}

.plans-amount p:nth-last-child(2n) {
  height: 50px;
}

.plans-amount p span {
  text-decoration: line-through;
}

.plans-amount > span {
  display: block;

  font-size: 3rem;
  font-family: "Nexa Bold";
  color: var(--white-);
}

.plans-amount > span::after {
  content: "/mês";

  font-size: 1rem;
  font-family: "Nexa";
}

.plans-amount > hr {
  margin: 14px 0;
}

.plans-amount button {
  margin: 170px 0;
}

.monthly {
  border: 2px solid var(--white-);
}

.quarterly {
  border: 2px solid #89794c;
}

.semester {
  border: 2px solid #ebb563;
}

.monthly > p {
  background: var(--white-);
  color: var(--black-);
}

.quarterly > p {
  background: #89794c;
  color: var(--white-);
}

.semester > p {
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  color: var(--black-);
}

/*  ============ COM SASS ============ */

.discover-your-plain {
  padding: 0 140px;

  > h2 {
    text-align: center;
    padding: 60px 0 38px 0;

    font-size: 3rem;
    color: var(--golden-);
  }
}


.discover-container {
  display: flex;
  flex-direction: column;

  background: var(--black-100-);
  padding: 70px;

  width: 100%;
  height: 761px;

  > button {
		height: 70px;
		padding: 0 30px;
    margin-top: 60px;

    align-self: center;

    width: fit-content;
		
		font-family: 'Nexa Bold';
		font-size: 1.5rem;

		background: linear-gradient(150deg, #e4ca7f, #cc9544);

		border-radius: 4px;
  }
}

.discover-wrapper {
  display: flex;
	height: 494px;
}

.discover-options {
	width: 100%;

	&.first {
		padding-right: 100px;
		border-right: 1px solid var(--golden-);
	}

	&.second {
	  padding-left: 100px;
  }

  > h3 {
    display: flex;

    font-size: 2.5rem;
    color: var(--white-);
    max-width: 500px;

    span {
      line-height: 1.75;

      margin-right: 20px;
      font-size: 1.5rem;
    }
  }

  > div {
    display: flex;
  }

	ul { 
		margin-top: 70px;

		li {
			display: flex;
			align-items: center;

			margin-bottom: 65px;

			input[type='radio'] {
				margin-top: 20px;

				&:after {
				width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: var(--white-);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 4px solid var(--white-);
				}
				
				&:checked:after {
					width: 15px;
					height: 15px;
					border-radius: 15px;
					top: -2px;
					left: -1px;
					position: relative;
					background: linear-gradient(150deg, #e4ca7f, #cc9544);
					content: '';
					display: inline-block;
					visibility: visible;
					border: 4px solid white;
				}
			}

			& + li {
			 	div {
					 width: 100%;
					border-top: 1px solid var(--golden-);
					padding-top: 40px;
				}
			}

			div {
				margin-left: 25px;
				color: var(--white-);

				h3 {
					font-size: 1.25rem;
					line-height: 1.5;

					font-family: 'Nexa Bold';
				}

				p {
					font-size: 1.25rem;
				}
      }
		}
	}
}

@media(max-width: 1366px) {
  .discover-your-plain > h2 {
      font-size: 2.5rem;
  }

  .discover-options > h3 {
    font-size: 2rem;
  } 


}

@media(max-width: 1604px) {
  .discover-container > button {
    padding: 20px 30px;
    margin-top: 90px;
  }
}

.discover-coffe-options {
  display: flex;
	margin-top: 30px;

  > div {
    height: 370px;
    max-width: 310px;

    text-align: center;

    padding: 50px 8px;

    background: var(--black-);

    & + div {
      margin-left: 27px;
    }

    h3, p, div {
      color: var(--white-);
    }

		h3 {
			font-family: 'Museo';
			margin-top: 10px;
		}

		> p {
			font-size: 1rem;
			line-height: 1.5;
		}

    div {
      align-items: center;
			justify-content: center;

      font-family: "Nexa Bold";
			font-size: 1rem;

			margin-top: 40px;

			
			div {
				display: flex;
				align-items: center;
				
				margin-top: 25px;
				font-size: 1rem;
			}

			#counter {
				margin: 0;
				padding: 0 10px;
			}
    }

    button {
      width: 30px;
      height: 30px;

      background: linear-gradient(150deg, #e4ca7f, #cc9544);
      border-radius: 2px;

      font-size: 2rem;
			line-height: 1.1;
    }
  }
}
