/* ============= PARTE SEM SASS ============= */

header {
  width: 100%;
  justify-content: center;

  z-index: 1000;
}

.header.sticky .access-header {
  display: none;
}

.header.sticky{
  position: fixed;
  top: 0;
}

.header.sticky + main {
  padding-top: 170px;
}

.access-header {
  padding: 0 10px;
  background: var(--white-);
}

.access-header div {
  display: flex;
  
  height: 90px;
  max-width: 1641px;
  align-items: center;

  margin: 0 auto;
}

.access-header div img:first-child {
  display: none;
  width: 36px;
  height: 36px;
}

@media(max-width: 1366px) {
  .access-buttons-as-link button {
    margin: 0 10px;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.access-buttons-as-link {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0 120px;
}


.access-buttons-as-link button {
  font-family: 'Nexa';
  font-size: 1rem;
}

.access-individuals-buttons {
  width: 60%;

  display: flex;
  justify-content: flex-end;
}

.access-individuals-buttons button {
  display: flex;
  align-items: center;

  font-size: 1rem;
  margin: 0 10px;
}
.access-individuals-buttons button img {
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

.navigation-header {
  padding: 0 10px;
  background: var(--black-);
  font-family: "Nexa Bold", sans-serif;
}

.navigation-header div {
  display: flex;
  align-items: center;

  height: 80px;
  max-width: 1641px;

  margin: 0   auto;
}

.navigation-links {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-between;

  padding: 0 120px;
}

.navigation-links a {
  color: var(--white-);
  text-decoration: none;

  font-size: 1rem;
  font-weight: 800;
}

.navigation-header button {
  font-size: 1rem;
  font-family: "Nexa Bold", sans-serif;

  width: 250px;
  transform: skewX(-5deg);

  padding: 5px;
  border-radius: 2px;

  background: linear-gradient(#e4ca7f, #cc9544);
  color: var(--black-);
  transition: filter 0.2s;
}

.navigation-header button:hover {
  filter: brightness(0.7);
}

@media  (max-width: 1430px) { 
  .access-buttons-as-link button,
  .navigation-links a {
    font-size: 14px;
  }

  .access-header div,
  .navigation-header div {
    max-width: 1280px;
  }

  .logo {
    height: 50px;
  }
}

@media (max-width: 1200px) {
  header {
    position: fixed;
  }

  .header.sticky .access-header {
    display: block;
  }

  .navigation-header {
    display: none;
  }

  .access-header div {
    padding: 0 30px;
    height: 73px;

    img:first-child {
      display: block;
    }
  }

  .header.sticky + main {
    padding-top: 0px;
  }

  .access-header div div {
    display: none;
  }
  
  .logo {
    order: 1;
    margin-left: auto;
  }
}

/* ======= MAIN E SECTIONS ======= */

main .discover {
  background: url(../img/bg-discover.png) no-repeat center;
  background-position-y: -5px;

  align-items: center;
  padding: 200px 120px;
}

.discover p {
  color: var(--white-);
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 3rem;

  margin-bottom: 20px;
  max-width: 670px;
}

.discover p span {
  font-family: "Museo";
}

.discover button {
  font-size: 1.875rem;
  font-family: "Nexa Bold";

  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  padding: 15px 100px;
  border-radius: 4px;

  transition: all 0.3s;
  border: 2px solid var(--golden-);
}

.discover button:hover {
  color: var(--white-);
  background: linear-gradient(150deg, rgba(228, 202, 127, 0.5), rgba(203, 149, 67, 0.5));
}

@media(max-width: 1430px) { 
  .discover p {
    font-size: 2.5rem;
    max-width: 500px;
  }
  .discover button {
    font-size: 1.5rem;
  }
}

@media(max-width: 1200px) {
  main .discover {
    padding: 200px 30px;
  }
}

@media(max-width: 890px) {
  main .discover {
    padding: 200px 30px 100px;

    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
  }

  .discover p {
    max-width: none;
    font-size: 1.75rem;
  }

  .discover p span {
    display: block;
  }

  .discover button {
    width: 100%;
    height: 45px;
    line-height: 0;
  }
}

/* BENEFÍCIOS DO CAFFEINE PRIME */

main .benefits {
  padding: 90px 100px 0 100px;
}

.benefits h2 {
  text-align: center;

  font-size: 3rem;
  color: var(--golden-);
}

.benefits-content {
  position: relative;

  max-width: 979px;
  margin: 120px auto;

  background: var(--black-100-);
}

.benefits-content::after {
  content: '';

  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;

  width: 728px;
  height: 1229px;

  position: absolute;

  top: -100px;
  right: -300px;
  z-index: -1000;
}

.benefits-content::before {
  content: '';

  background: url(../img/benefits-bg.svg) no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;

  width: 728px;
  height: 1229px;

  position: absolute;

  bottom: -100px;
  left: -300px;
  z-index: -1000;
}

@media(max-width: 1580px) {
  .benefits-content::after,
  .benefits-content::before {
    display: none;
  }
} 

.benefits-content div {
  display: flex;
}

.benefits-content div img {
  height: 400px;
  width: auto;
}

.benefits-content div:nth-child(1) img {
  margin-top: -30px;
  margin-left: -30px;
}

.benefits-content div:nth-child(2) img {
  margin-right: -30px;
}

.benefits-content div:nth-child(3) img {
  margin-bottom: -30px;
  margin-left: -30px;
}

.benefits-group {
  display: flex;
  flex-direction: column;

  padding: 27px;
}

.benefits-group h3 {
  font-size: 2rem;
  font-family: "Nexa Bold";

  margin-bottom: 5px;
  color: var(--golden-);
}

.benefits-group p {
  font-size: 1.5rem;
  color: var(--white-);
}


.benefits-content div:nth-child(2) .benefits-group h3,
.benefits-content div:nth-child(2) .benefits-group p {
  text-align: right;
}

.benefits-content div:nth-child(2) .benefits-group{
  align-self: center;
}

.benefits-group hr {
  border-color: var(--golden-);
  margin: 20px 0;
}

@media  (max-width: 1430px) { 
  .benefits h2 {
    font-size: 2.5rem;
  }

  .benefits-group h3 {
    font-size: 1.5rem;
  }
  .benefits-group p {
    font-size: 1.25rem;
  }
  .benefits-content div img {
    height: 350px;
  }
}

@media(max-width: 1280px){
  .benefits h2 {
    font-size: 2.5rem;
  }
  .benefits-group h3 {
    font-size: 1.75rem;
  }
  .benefits-group p {
    font-size: 1.25rem;
  }
  .benefits-content div img {
    height: 300px;
  }
}


@media(max-width: 890px) {
  main .benefits {
    padding: 30px 30px 100px;
  }

  .benefits-content {
    background: none;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .benefits h2 {
    font-size: 2.25rem;
  }

  .benefits-content div {
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
  }
  .benefits-content div h3 {
    align-self: flex-start;
  }

  .benefits-content div:nth-child(2) div hr {
    display: none;
  }

  .benefits-content div:nth-child(2) .benefits-group h3,
  .benefits-content div:nth-child(2) .benefits-group p {
    text-align: left;
  }

  .benefits-content div:nth-child(2) img {
    order: -1;
  }

  .benefits-content div img {
    margin: 0!important;

    max-width: 300px;
    height: auto;
  }

  .benefits-group {
    padding: 0;
  }
}

/* COMO FUNCIONA O CAFFEINE PRIME */

.operation h2 {
  text-align: center;

  font-size: 3rem;
  color: var(--golden-);
}

.explanations {
  display: flex;
  justify-content: space-between;

  color: var(--white-);

  padding: 80px 20px;

  max-width: 1641px;
  margin: 0 auto;
}

.explanation-group {
  display: flex;
}

.explanation-group > h3 {
  text-align: center;
  align-self: center;

  font-family: "Nexa Bold";
  font-size: 6.8rem;
  color: var(--golden-);

  margin-right: 20px;
}

.explanation-group:nth-child(n + 2) > h3 {
  margin-left: 20px;
}

.explanation-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  max-width: 1641px;
  height: 27.85rem;
}
.explanation-group div .bg {
  display: block;
  background: url(../img/circle.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -20px;
  width: 390px;

  // @media(min-width: 1920px) {
  //   display: block;
  //   width: 390px;
  // }
  
}

.explanation-group div img {
  height: 50px;
  width: 50px;

  margin-bottom: 20px;
}

.explanation-group div h3 {
  font-size: 1.5rem;
  color: var(--golden-);

  display: block;
}

.explanation-group div p {
  font-size: 1.25rem;
  max-width: 300px;
}

@media  (max-width: 1430px) {
  .operation h2 {
    font-size: 2.5rem;
  }

  .explanation-group > h3 {
    font-size: 5rem;
  }
  
  .explanation-group div img {
    height: 45px;
    width: 45px;
  }

  .explanation-group div h3 {
    font-size: 1.35rem;
  } 
  .explanation-group div p {
    font-size: 1rem;
    width: 80%;
  } 

  .explanation-group div .bg {
    width: 300px;
  }
}

@media(max-width: 1366px) {
  .operation h2 {
    font-size: 2.5rem;
  }

  .explanations {
    padding: 80px 40px;
  }

  .explanation-group > h3 {
    font-size: 4.5rem;
  }

  .explanation-group div .bg {
    width: 325px;
  }

  .explanation-group div h3 { 
    font-size: 1.25rem;
  }

  .explanation-group div p { 
    font-size: 1rem;
  }

}

@media (max-width: 1200px) { 
  .explanations {
    flex-direction: column;
  }

  .explanation-group {
    align-self: center;

    & + .explanation-group {
      margin-top: 20px;
    }
  }

  .explanation-group div .bg {
    display: block;
    
    width: 340px;
    background-size: contain;
  }
}

@media(max-width: 890px) {
  .operation h2 {
    font-size: 2.25rem;
  }

  .explanation-group {
    justify-content: center;
  }
  .explanation-group div {
    width: 65%;
  }

  .explanation-group div .bg {
    width: 280px;

    left: -50px;
  }

  .explanation-group h3 {
    width: 70px;
  }

  .explanation-group div img {
    width: 30px;
    height: 30px;

    margin-bottom: 10px;
  }

  .explanation-group:nth-child(n + 2) > h3 {
    margin-left: 0;
  }

  .explanations {
    padding: 30px 30px;
  }
} 
/* ESCOLHA SEU PLANO */

.plans.one.closed { 
  display: none;
}

.plans {
  background: url(../img/bg-plans.png) no-repeat center;

  color: var(--white-);
}

.plans > p {
  text-align: center;
  padding: 60px 0;
}

.plans h2 {
  text-align: center;
  padding: 60px 0 38px 0;

  font-size: 2.5rem;
  color: var(--white-);
}


// @media (max-width: 768px) {
//   .plans-options {
//     flex-direction: column;
//   }
// }

.plans-options {
  display: flex;
  justify-content: space-evenly;

}

@media (max-width: 1200px) {
  .plans-options {
    display: -webkit-box;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}  

/* MONTHLY, QUARTERLY, SEMESTER */

.plans-options > div {
  max-width: 370px;

  background: var(--black-);
  border-radius: 4px;

  margin: 0 20px;
}

.plans-options > div > p {
  height: 54px;
  width: 100%;

  padding: 15px 0;
  text-align: center;

  font-family: "Nexa Bold";
  font-size: 1.25rem;
}

.plans-options button {
  font-size: 1.25rem;
  font-family: "Nexa Bold";
  color: var(--golden-);

  padding: 7px 0;
  margin: 170px 0 0;

  border: 2px solid var(--golden-);
  border-radius: 4px;

  width: 100%;
  height: auto;

  transition: all 0.1s;
}

.plans-options button:hover {
  color: var(--black-);
  background: var(--golden-);
}

.plans-amount {
  max-height: 500px;
  padding: 20px 40px;
}

.plans-amount h3 {
  font-size: 1.875rem;
}

.plans-amount p {
  font-size: 1rem;
  color: var(--grey-);

  line-height: 1.4;
}

.plans-amount p:nth-last-child(2n) {
  height: 50px;
}

.plans-amount p span {
  text-decoration: line-through;
}

.plans-amount > span {
  display: block;

  font-size: 3rem;
  font-family: "Nexa Bold";
  color: var(--white-);
}

.plans-amount > span::after {
  content: "/mês";

  font-size: 1rem;
  font-family: "Nexa";
}

.plans-amount > hr {
  margin: 14px 0;
}

.monthly {
  border: 2px solid var(--white-);
}

.quarterly {
  border: 2px solid #89794c;
}

.semester {
  border: 2px solid #ebb563;
}

.monthly > p {
  background: var(--white-);
  color: var(--black-);
}

.quarterly > p {
  background: #89794c;
  color: var(--white-);
}

.semester > p {
  background: linear-gradient(150deg, #e4ca7f, #cc9544);
  color: var(--black-);
}

@media  (max-width: 1430px) {
  .plans h2 {
    font-size: 2.25rem;
  }

  .plans-options > div > p,
  .plans-options button {
    font-size: 1rem;
  }

  .plans-amount h3 {
    font-size: 1.5rem;
  }

  .plans-amount > span {
    font-size: 2.5rem;
  }

}

@media(max-width: 890px) {
  .plans-options > div > p {
    height: auto;
  }

  .plans h2 {
    font-size: 1.5rem;
  }
}
/*  ============ COM SASS ============ */

/* PLANS OPTIONS 2 - APÓS CLICAR ASSINAR AGORA */

.plans.two.closed {
  display: none;
}

.plans.two {
  height: 877px;

  .plans-two-options {
    margin: 70px auto 100px;
    max-width: 756px;
  }

  .plans-two-list-wrapper {
    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      background: var(--white-);

      padding: 20px 50px;
      border-radius: 4px; 

      & + .list-item {
        margin-top: 35px;
      }

      div {
        &:first-child {
          color: #414141;

          display: flex;
          align-items: center;
  
          div {
            flex-direction: column;
            margin-left: 6px;
          }
          
          h3 {
            font-size: 1.25rem;
            font-family: 'Nexa Bold';
          }

          p {
            font-size: 1.25rem;
          }
        }

        &:last-child {
          display: flex;

          button {
            width: 40px;
            height: 40px;

            background: #F2F2F2;

            font-size: 40px;
            line-height: 1.1;

            color: var(--grey-);
          }

          .counter {
            align-self: center;
            color: #414141;

            font-size: 1.625rem;
            padding: 0 10px;
          }
        }
      }

    }

  }

  .plans-two-resume {
    margin-top: 35px;
    padding: 20px 0;
    width: 100%;

    border-top: 1px solid var(--white-);

    display: flex;
    flex-direction: column;

    > p {
      text-align: right;
      font-size: 1.25rem;

      text-decoration: line-through;
    }

    > div {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    button {
      margin-top: 60px;

      height: 70px;
		  padding: 0 30px;

      width: fit-content;
      align-self: center;

      font-family: 'Nexa Bold';
      font-size: 1.5rem;

      background: linear-gradient(150deg, #e4ca7f, #cc9544);

		  border-radius: 4px;

      transition: filter 0.1s;

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

.plans.two {
  .plans-two-resume {
    > p:after {
      content: '10%';

      color: var(--white-);

      font-size: 1.450rem;
      font-family: 'Nexa Bold';

      background: var(--golden-100);
      width: fit-content;
      height: 30px;

      margin-left: 5px;

      text-decoration: none;
    }
  }
}

@media (max-width: 1200px) {
  .plans.two .plans-two-options {
    padding: 0 30px;
  }
}

@media (max-width: 890px) {
  .plans.two .plans-two-list-wrapper .list-item {
    padding: 20px 20px;
  }
  .plans.two .plans-two-list-wrapper .list-item { 
    flex-direction: column;

    div:last-child {
      margin-top: 20px;
    }
  }
  .plans.two .plans-two-resume button {
    font-size: 1rem;
    height: 40px;
  }
}
/* DESCUBRA SEU PLANO */

.discover-your-plain {

  > h2 {
    text-align: center;
    padding: 60px 0 38px 0;

    font-size: 3rem;
    color: var(--golden-);
  }
}


.discover-container {
  display: flex;
  flex-direction: column;

  background: var(--black-100-);
  padding: 70px;

  max-width: 1641px;
  height: 761px;

  margin: 0 auto;

  > button {
		height: 70px;
		padding: 0 30px;
    margin-top: 60px;

    align-self: center;

    width: fit-content;
		
		font-family: 'Nexa Bold';
		font-size: 1.5rem;

		background: linear-gradient(150deg, #e4ca7f, #cc9544);

		border-radius: 4px;

    transition: filter 0.1s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.discover-wrapper {
  display: flex;
	height: 494px;
}

.discover-options {
	width: 100%;

	&.first {
		padding-right: 100px;
		border-right: 1px solid var(--golden-100-);
	}

	&.second {
	  padding-left: 100px;
  }

  > h3 {
    display: flex;

    font-size: 2.5rem;
    color: var(--white-);
    max-width: 500px;

    span {
      line-height: 1.75;

      margin-right: 20px;
      font-size: 1.5rem;
    }
  }

  > div {
    display: flex;
  }

	ul { 
		margin-top: 70px;

		li {
			display: flex;
			align-items: center;

			margin-bottom: 65px;

			input[type='radio'] {
				margin-top: 20px;

				&:after {
				width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: var(--white-);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 4px solid var(--white-);
				}
				
				&:checked:after {
					width: 15px;
					height: 15px;
					border-radius: 15px;
					top: -2px;
					left: -1px;
					position: relative;
					background: linear-gradient(150deg, #e4ca7f, #cc9544);
					content: '';
					display: inline-block;
					visibility: visible;
					border: 4px solid white;
				}
			}

			& + li {
			 	div {
					width: 100%;
					border-top: 1px solid var(--golden-100-);
					padding-top: 40px;
				}
			}

      &:last-child {
        div {
          border-top: 1px solid #976925;
        }
      }

			div {
				margin-left: 25px;
				color: var(--white-);

				h3 {
					font-size: 1.25rem;
					line-height: 1.5;

					font-family: 'Nexa Bold';
				}

				p {
					font-size: 1.25rem;
				}
      }
		}
	}
}

@media(max-width: 1366px) {
  .discover-your-plain > h2 {
    font-size: 2.5rem;
  }

  .discover-options > h3 {
    font-size: 2rem;
  } 

}

@media(max-width: 1604px) {
  .discover-container > button {
    padding: 20px 30px;
    margin-top: 90px;
  }
}

@media (max-width: 1200px) {
  .discover-container {
    height: auto;

    > button {
      padding: 0 20px;
      font-size: 1.25rem;

      margin-top: 10px;
    }
  }

  .discover-wrapper {
    flex-direction: column;
    height: auto;
  }

  .discover-options {
    &.first {
      padding-right: 0;
      border: none;
    }
    &.second {
      padding-left: 0;
      margin-top: 50px;
    }

    ul {
      margin-top: 30px;
    }
  }

  .discover-coffe-options {
    flex-direction: column;

    > div {
      width: 100%;
      max-height: 310px;
      align-self: center;
    }

    & div:last-child {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

@media(max-width: 890px) {
  .discover-container {
    padding: 70px 30px;
  }

  .discover-your-plain > h2 {
    font-size: 1.875rem;
    margin-inline: 40px;
  }
}

.discover-coffe-options {
  display: flex;
	margin-top: 30px;

  > div {
    height: 370px;
    max-width: 310px;

    text-align: center;

    padding: 50px 8px;

    background: var(--black-);

    & + div {
      margin-left: 27px;
    }

    h3, p, div {
      color: var(--white-);
    }

		h3 {
			font-family: 'Museo';
			margin-top: 10px;
		}

		> p {
			font-size: 1rem;
			line-height: 1.5;
		}

    div {
      align-items: center;
			justify-content: center;

      font-family: "Nexa Bold";
			font-size: 1rem;

			margin-top: 40px;

			
			div {
				display: flex;
				align-items: center;
				
				margin-top: 25px;
				font-size: 1rem;
			}

			#counter {
				margin: 0;
				padding: 0 10px;
			}
    }

    button {
      width: 30px;
      height: 30px;

      background: linear-gradient(150deg, #e4ca7f, #cc9544);
      border-radius: 2px;

      font-size: 2rem;
			line-height: 1.1;
    }
  }
}

.faq {
  padding: 0 140px;

  > h2 {
    text-align: center;
    padding: 60px 0 38px 0;

    font-size: 3rem;
    color: var(--golden-);
  }

  .accordion {
    width: 100%;
    max-width: 1085px;
    height: 72px;

    margin: 0 auto;
    background: var(--white-);
    color: var(--black-);

    border-radius: 3px;

    display: flex;
    align-items: center;
    
    font-family: 'Nexa Bold';
    font-size: 1.5rem;
    
    padding: 0 40px;
    transition: max-width 0.4s ease-out;
    transition: color 0.4s;
    
    text-align: left;
    cursor: pointer;
    
    i {
      margin-left: auto;
      transition: all 0.5s;  
    }
    
    &.active i {
      transform: rotate(180deg);
    }

    &:hover {
      background: var(--black-100-);
      color: var(--golden-);
    }
  }

  .panel {
    width: 100%;
    max-width: 1085px;

    margin: 3px auto 20px;
    max-height: 0;

    border-radius: 4px;

    display: block;
    align-items: center;

    font-size: 1.3rem;
    line-height: 1.4;
    color: var(--white-);

    overflow: hidden;

    transition: all 0.3s ease-out;
    
    &.active {
      max-height: 300px;
      padding: 20px 0;
      
      border: 2px solid var(--white-);
    }
    
    p {
      margin: 0 40px;
    }
  }
}

@media(max-width: 890px) {
  .faq {
    padding: 0 30px;
    
    h2 {
      font-size: 1.875rem;
    }

    .accordion {
      font-size: 1.25rem;
      padding: 0 20px;

      height: 90px;
    }

    .panel {
      p {
        margin: 0 20px; 
      }

      &.active {
        padding: 10px 0;
      }
    }
  }
}

.footer {
  width: 100%;
  background: var(--black-900-);

  margin-top: 100px;
  
  .footer-container {
    max-width: 1344px;

    margin: 0 auto;
    padding: 100px 0 50px;

    display: flex;
    justify-content: space-between;

    .footer-content {
      color: var(--white-);
      max-width: 230px;
      height: auto;

      &:nth-child(n + 4) {
        width: 100%;
      }

      &:nth-child(5) {
        max-width: 400px;

        form {
          display: flex;
          margin-top: 10px;
          
          input {
            width: 100%;
            height: 45px;

            background: var(--white-);
            color: var(--black-);

            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;

            padding: 0 25px;

            font-size: 1rem;

            outline: none;
            cursor: initial;
          }

          button {
            color: var(--black-);

            max-width: 112px;
            height: 45px;

            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;

            background: linear-gradient(150deg, var(--golden-), var(--golden-100-));

            font-family: 'Nexa Bold';

            padding: 0 25px;
          }
        }
      }

      h2 {
        font-family: 'Nexa Bold';
        font-size: 1.1rem;

        line-height: 2;
      }

      > p {
        filter: brightness(0.7);
        font-size: 1.05rem;
        line-height: 1.7;

        cursor: pointer;
        transition: filter 0.1s;

        &:hover {
          filter: brightness(0.5);
        }
      }

      &:last-child {
        > p {
          line-height: 1.2;
        }
        > p:hover {
          cursor: initial;  
          filter: brightness(0.7);
        }
      }
    }   
  }

  .footer-footer {
    width: 100%;
    padding: 20px 30px;

    border-top: 1px solid var(--white-);

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: inherit;

      margin: 0 auto;
      max-width: 1120px;
    }

    a, p {
      color: var(--white-);
      text-decoration: none;

      font-size: 1.1rem;
    }

    a {
      font-family: 'Nexa Bold';
    }
  }
}

.bottom {
  margin-top: 50px;

  p {
    line-height: 2;
    font-size: 1rem;
    
    color: var(--white-);
    filter: brightness(1);

    margin-top: 5px;

    &:last-child {
      font-family: 'Nexa Bold';
    }
    
  }

  div:nth-child(1) {
      display: flex;
      justify-content: center;
      
      
      max-width: 175px;
      margin-top: 25px;
      
      img {
        height: auto;
        max-width: 25px;

        cursor: pointer;
        
        & + img {
          margin-left: 10px;
      }
    }
  }
    
  .cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    max-width: auto;

    margin-top: 25px;

    img {
      width: 70px;
      height: 30px;
      
      background: var(--white-);
      object-fit: contain;

      padding: 5px 15px;
      border-radius: 4px;
    }
  }
}
@media (max-width: 1400px) {
  .footer .footer-container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .footer .footer-container .footer-content:nth-child(5) {
    order: -1;
    p {
      display: block;
    }
  }

  .footer .footer-container {
    flex-direction: column;
    max-width: 500px;

    padding: 20px 30px;

    .footer-content:last-child {
      border-top: none;
      margin-bottom: 20px;
    }

    .footer-content {
      border-top: 1px solid var(--white-);

      p {
        display: none;
      }

      .bottom {
        display: none;
      }
    }
  }

  .footer .footer-footer {
    padding: 0;
    > div {
      flex-direction: column;
      padding: 20px 30px;
      max-width: 500px;

      a {
        align-self: flex-start;

        & + a {
          margin-top: 20px;
        }
      }

      p {
        align-self: flex-start;
        margin-top: 20px;
      }
    }
  }
}