header {
    width: 100%;
    display: inline-block;

    
    font-size: 1.375rem;
}

header .access-header {
    display: flex;
    align-items: center;
    
    height: 90px;
    padding: 0 120px;

    background: var(--white-);
}

.logo {
    margin-right: 120px;
}

.access-buttons-as-link button {
    font-size: 1.375rem;
    margin: 0 25px;
}

.access-individuals-buttons {
    margin-left: auto;
    display: flex;
}

.access-individuals-buttons button {
    display: flex;
    align-items: center;

    font-size: 1rem;
    margin: 0 10px;
}
.access-individuals-buttons button img {
    margin: 0 5px;
    height: 20px;
    width: 20px;
}

header .navigation-header {
    display: flex;
    align-items: center;

    height: 80px;
    padding: 0 120px;

    background: var(--black-);
    font-family: 'Nexa Bold', sans-serif;
}

.navigation-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.navigation-links a {
    color: var(--white-);
    text-decoration: none;
    
    font-size: 1rem;
    font-weight: 800;
}

.navigation-header button {
    font-size: 1rem;
    font-family: 'Nexa Bold', sans-serif;
    

    width: 250px;
    transform: skewX(-5deg);

    margin-left: 80px;
    padding: 5px;
    border-radius: 2px;

    background: linear-gradient(#E4CA7F, #CC9544);
    color: var(--black-);
    transition: filter 0.2s;
}

.navigation-header button:hover {
    filter: brightness(0.7);
}

/* ======= MAIN E SECTIONS ======= */

main .discover {
    background: url(../img/bg-discover.png) no-repeat center;
    background-position-y: -5px;

    align-items: center;
    padding: 200px 120px;
}

.discover p {
    color: var(--white-);
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 3rem;

    margin-bottom: 20px;
    width: 670px;
}

.discover p span {
    font-family: 'Museo';
}

.discover button {
    font-size: 1.875rem;
    font-family: 'Nexa Bold';

    background: linear-gradient(150deg, #E4CA7F, #CC9544);
    padding: 15px 100px;
    border-radius: 4px;
}
/* BENEFÍCIOS DO CAFFEINE PRIME */

main .benefits {
    padding-top: 90px;
}

.benefits h2 {
    text-align: center;
    
    font-size: 3rem;
    color: var(--golden-);
}

.benefits-content {
    position: relative;

    width: 979px;
    height: 1154px;
    margin: 120px auto;

    background: var(--black-100-);
}


.benefits-content::after {
    content: url(../img/benefits-bg.svg);
    position: absolute;

    top: -100px;
    right: -300px;
    z-index: -1000;
}

.benefits-content::before {
    content: url(../img/benefits-bg.svg);
    position: absolute;

    bottom: -100px;
    left: -300px;
    z-index: -1000;
}

.benefits-content div {
    display: flex;
}

.benefits-content div img {
    height: 400px;
    width: auto;
}

.benefits-content div:nth-child(1) img {
    margin-top: -30px;
    margin-left: -30px;
}

.benefits-content div:nth-child(2) img {
    margin-right: -30px;
}

.benefits-content div:nth-child(3) img {
    margin-bottom: -30px;
    margin-left: -30px;
}


.benefits-group {
    display: flex;
    flex-direction: column;

    padding: 27px;
}

.benefits-group h3 {
    font-size: 2rem;
    font-family: 'Nexa Bold';

    margin-bottom: 5px;
    color: var(--golden-);
}

.benefits-group p {
    font-size: 1.5rem;
    color: var(--white-);
}

.benefits-content div:nth-child(2) .benefits-group h2, .benefits-content div:nth-child(2) .benefits-group p {
    text-align: right;
}

.benefits-group hr {
    border-color: var(--golden-);
    margin: 20px 0;
}

/* COMO FUNCIONA O CAFFEINE PRIME */

.operation h2 {
    text-align: center;
    
    font-size: 3rem;
    color: var(--golden-);
}

.explanations {
    display: flex;
    justify-content: space-between;
    
    color: var(--white-);
    
    padding: 80px 120px;
}

.explanation-group {
    display: flex;
}

.explanation-group > h3 {
    text-align: center;
    align-self: center;
    
    font-family: 'Nexa Bold';
    font-size: 6.8rem;
    color: var(--golden-);

    margin-right: 20px;
}

.explanation-group:nth-child(n + 2) > h3 {
    margin-left: 20px;
}

.explanation-group div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 24.375rem;
    height: 27.85rem;

    background: url(../img/circle.svg) no-repeat;
    background-size: 100% contain;
}

.explanation-group div img { 
    height: 50px;
    width: 50px;

    margin-bottom: 20px;
}

.explanation-group div h3 {
    font-size: 1.5rem;
    color: var(--golden-);

    display: block;
}

.explanation-group div p {
    font-size: 1.25rem;
    width: 300px;
}

/* ESCOLHA SEU PLANO */

.plans {
    background: url(../img/bg-plans.png) no-repeat;

    color: var(--white-);
}

.plans > p {
    text-align: center;
    padding: 60px 0;
}

.plans h2 {
    text-align: center;
    padding: 60px 0 38px 0;

    font-size: 2.5rem;
    color: var(--white-);
}

@media (max-width: 768px) {
    .plans-options {
        flex-direction: column;
    }
}

.plans-options {
    display: flex;
    justify-content: space-between;

    padding: 0 120px;  
}

/* MONTHLY, QUARTERLY, SEMESTER */

.plans-options > div {
    width: 450px;
    height: 563px;

    background: var(--black-);
    border-radius: 4px;
}

.plans-options > div > p {
    height: 54px;
    width: 100%;

    padding: 15px 0;
    text-align: center;

    font-family: 'Nexa Bold';
    font-size: 1.25rem;
}

.plans-options button {
    font-size: 1.25rem;
    font-family: 'Nexa Bold';
    color: var(--golden-);

    padding: 7px 0;

    border: 2px solid var(--golden-);
    border-radius: 4px;
    width: 100%; 
}

.plans-amount {
    padding: 20px 40px;
}

.plans-amount h3 {
    font-size: 1.875rem;
}

.plans-amount p {
    font-size: 1rem;
    color: var(--grey-);

    line-height: 1.4;
}

.plans-amount p:nth-last-child(2n) {
    height: 50px;
}

.plans-amount p span {
    text-decoration: line-through;
}

.plans-amount > span {
    display: block;

    font-size: 3rem;
    font-family: 'Nexa Bold';
    color: var(--white-);
}

.plans-amount > span::after {
    content: '/mês';

    font-size: 1rem;
    font-family: 'Nexa';
}

.plans-amount > hr {
    margin: 14px 0;
}

.plans-amount button {
    margin: 170px 0;
}

.monthly {
    border: 2px solid var(--white-);
}

.quarterly {
    border: 2px solid #89794c;
}

.semester {
    border: 2px solid #ebb563;
}

.monthly > p {
    background: var(--white-);
    color: var(--black-);
}

.quarterly > p {
    background: #89794c;
    color: var(--white-);
}

.semester > p {
    background: linear-gradient(150deg, #E4CA7F  , #CC9544);
    color: var(--black-);
}
